

body{
	font-family: 'Arial' sans-serif;
	line-height: 1.6em;
	background: #eee;
}
.navbar{
	overflow: auto;
	min-height: 100px;
	background: #36424a;
	color: #fff;
	font-size: 15px;
	border-radius: 0;
	border: 0;
}
.navbar h1{
	margin: 10px 0 0 0;
	padding: 0;
}
.navbar a{
	color: #fff !important;
}
.navbar a:hover{
	color: #ff953f;
}
.navbar a.navbar-brand:hover{
	color: #fff !important;
}
.navbar ul{

	margin-top:22px; 
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background: none;
	color: #ff953f !important;
}
.search-form{
	margin-top: 30px;
}
.search-form input[type='text']{
	border-radius: 0;
	height: 38px;
	
}
.search-form .form-group{

	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
.search-form .btn{
	border-radius: 0;
	height: 38px;
	margin-top: 0;
	border: 0;
	margin-left: -5px;
	
}
.search-form .form-control{
	background: #f4f4f4;
	border: 1px solid #eee;
	
}
.btn{
	border: 0;
	border-radius: 0;
}

.btn-primary{

	background:#ff953f;
}
.post{
	background: #fff;
	border: 1px solid #ccc;
}
.post img{
	width: 100%;
	margin-bottom: 10px;
}
.post-contant{
	padding: 20px;
	box-sizing:border-box ;
}
.post h3{
	margin: 0;
	padding: 0;
}
small{
	background: #36424a;
	color: #fff;
	display: block;
	margin: 10 0;
	padding: 5px 10px;
}
.post .btn{
	
	display: block;
	margin-top: 30px;
}
footer{
	background: #36424a;
	color: #fff;
	margin-top: 30px;
	padding-top: 20px;
	height: 60px;
	text-align: center;
}
.navbar-brand{

	font-size: 1em;
	margin-top: 10px;
	font-weight: 2em;
}